.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeee;
  min-height: 800px;
}

.search-results-title {
  font-family: "Hind", sans-serif;
  font-weight: bolder;
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.search-user-card {
  width: 800px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 30px;
}

.search-user-card a {
  display: flex;
  text-decoration: none;
  color: black;
}

.search-user-card-image {
  min-width: 200px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 30px 0 0 30px;
  background-color: rgb(43, 43, 43);
}

.search-user-card-image img {
  width: auto;
  height: 100%;
}

.search-user-card-info {
  padding-left: 50px;
  max-height: 197px;
  width: 1500px;
  overflow: hidden;
  position: relative;
}

.search-user-card-name {
  font-family: "Hind", sans-serif;
  font-weight: bolder;
  font-size: 25px;
  padding-top: 30px;
}

.search-user-card-bio {
  font-family: "Hind", sans-serif;
  font-size: 20px;
  padding-top: 20px;
  width: 90%;
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 6em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}

.search-user-card-bio:before {
  content: ".....";
  position: absolute;
  right: 0;
  bottom: 0;
}

.search-user-card-bio:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}

.search-results-none {
  font-family: "Hind", sans-serif;
  font-size: 20px;
}
