.message-btn {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: #1154af;
  background-color: white;
  border: 3px solid #1154af;
  padding: 10px 30px;
  border-radius: 25px;
  margin-top: 20px;
}

.message-btn:hover {
  color: white;
  background-color: #1154af;
  border: 3px solid #1154af;
}
