.message-btn {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: #1154af;
  background-color: white;
  border: 3px solid #1154af;
  padding: 10px 30px;
  border-radius: 25px;
  margin-top: 20px;
}

.message-btn:hover {
  color: white;
  background-color: #1154af;
  border: 3px solid #1154af;
}

.message-btn-disabled {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: #1153af89;
  background-color: white;
  border: 3px solid #1153af89;
  padding: 10px 30px;
  border-radius: 25px;
  margin-top: 20px;
}

.chat-send-to-input {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
}

.chat-send-to-input input {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 15px;
  border: none;
}

.chat-send-to-input input:focus {
  outline: none;
}

.chat-search-results-div {
  position: relative;
}

.chat-search-results {
  position: absolute;
  right: -130px;
  top: -18px;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  font-family: "Hind", sans-serif;
  font-size: 14px;
  z-index: 1;
}

.chat-search-results:focus {
  outline: none;
}

.chat-textarea {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  resize: none;
  width: 350px;
  height: 150px;
  padding: 10px;
  border: none;
}

.chat-textarea:focus {
  outline: none;
}

.chat-submit-btn {
  margin-top: 20px;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  border-radius: 20px;
  padding: 5px 15px;
  border: 3px solid white;
  color: white;
  background-color: transparent;
}

.chat-submit-btn:hover {
  border: 3px solid white;
  color: #ffc328;
  background-color: white;
}

.chat-messages {
  height: 120px;
  width: 300px;
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  font-family: "Hind", sans-serif;
  font-size: 16px;
}

.chat-single-message {
  margin-bottom: 5px;
}
