.edit-artistPage {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 50px;
  top: 140px;
  color: white;
}

.fa-edit {
  font-size: 40px;
  color: white;
}

.form-edit-artist-input {
  margin-top: 40px;
}
