.edit-artistPage {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 80px;
  top: 345px;
  color: rgb(201, 201, 201);
  z-index: 1;
}

.fa-edit {
  font-size: 40px;
  color: rgb(201, 201, 201);
}

.form-edit-artist-input {
  margin-top: 40px;
}
