.create-job {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  background-color: #1154af;
  border: 3px solid #1154af;
  padding: 10px 30px;
  border-radius: 25px;
  margin-top: 20px;
}

.create-job:hover {
  color: #1154af;
  background-color: white;
  border: 3px solid #1154af;
}

.work-form-input {
  margin-bottom: 20px;
}

.work-form-input input {
  width: 350px;
}

.work-datepicker {
  width: 250px;
}

.datepicker-calendar {
  font-family: "Hind", sans-serif;
  font-size: 17px;
  border-radius: 12px;
  background-color: white;
  padding: 10px;
  border: 2px solid #fa4a18;
}

.react-datepicker__header {
  background-color: white;
}

.datepicker-wrapper {
  display: flex;
  align-items: center;
  font-family: "Hind", sans-serif;
  font-size: 20px;
  color: white;
}

.datepicker-deadline {
  margin-right: 10px;
  padding-bottom: 10px;
}
