.form-input textarea {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 10px 15px;
  border: none;
  width: 350px;
  height: 150px;
  resize: none;
  margin-top: -20px;
}

.headerImageURL input {
  width: 350px;
}

.create-artistPage {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  background-color: #1154af;
  border: 3px solid #1154af;
  padding: 10px 20px;
  border-radius: 30px;
}
