.delete-artistPage {
  font-family: "Hind", sans-serif;
  font-size: 16px;
  font-weight: bolder;
  color: white;
  background-color: red;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
}
