.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fa4a18;
  height: 90px;
  align-items: center;
  width: 100%;
  /* overflow-x: hidden; */
}

.nav-logo img {
  width: 130px;
  height: auto;
  margin-left: 50px;
}

.nav-nonuser {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-family: "Hind", sans-serif;
  text-transform: uppercase;
}

.nav-user {
  display: flex;
  align-items: center;
  margin-right: 50px;
  font-family: "Hind", sans-serif;
  text-transform: uppercase;
}

.nav-artist-link,
.nav-profile-link {
  font-size: 16px;
  font-family: "Hind", sans-serif;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  padding: 6px 0;
}

.nav-artist-link,
.nav-login {
  margin-left: 10px;
}

.nav-artist-link:hover,
.nav-profile-link:hover,
.nav-login:hover,
.nav-signup:hover {
  border-bottom: 2px solid white;
}

.nav-login,
.nav-signup {
  font-size: 16px;
  font-family: "Hind", sans-serif;
  font-weight: bolder;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  padding: 1px 0;
}

.nav-profile-link,
.nav-signup {
  margin-left: 50px;
}

.nav-demo {
  border: 2px solid white;
  border-radius: 30px;
  padding: 10px 25px;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Hind", sans-serif;
  font-weight: bolder;
  margin-left: 40px;
}

.nav-demo:hover {
  color: #fa4a18;
  background-color: white;
}

#nav-search-form {
  background-color: transparent;
  padding: 0;
  position: relative;
}

.nav-search-input {
  width: 550px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: "Hind", sans-serif;
  border-radius: 30px;
  border: none;
}

.nav-search-input:focus {
  outline: none;
}

.nav-search-results {
  position: absolute;
  right: 2px;
  top: 48px;
  border-radius: 20px;
  padding: 10px;
  width: 578px;
  font-family: "Hind", sans-serif;
  font-size: 16px;
  z-index: 1;
}

.nav-search-results:focus {
  outline: none;
}

.nav-search-results-title {
  color: grey;
  font-family: "Hind", sans-serif;
  font-style: italic;
}

@media only screen and (max-width: 1150px) {
  .nav-search-input {
    width: 300px;
  }

  .nav-search-results {
    width: 328px;
  }
}
